@import "../../Variables";

.BackgroundCard {
	position: relative;

	width: 200px;
	height: 100px;
	padding: 20px;

	border-radius: 10px;

	color: white;
	background-color: rgba(white, 0.1);

	overflow: hidden;
	cursor: pointer;

	video {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		height: 100%;
	}

	will-change: transform;
	transition: transform $ft;

	&:hover {
		transform: scale(1.02);
	}

	&:active {
		transform: scale(0.98);
	}
}
