@import "../../Variables";

.SoundCard {
	position: relative;

	width: 200px;
	padding: 20px;

	border-radius: 10px;

	color: white;
	background-color: rgba(white, 0.1);
	backdrop-filter: blur(10px) saturate(0.8);

	&::before {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;

		content: "";
		z-index: -1;
		border-radius: 10px;

		opacity: 0.5;

		background: linear-gradient(-45deg, $primaryColor, $secondaryColor);
	}

	display: flex;
	flex-direction: column;
	align-items: center;

	.Icon {
		width: 120px;
		height: 120px;
	}

	.SliderContainer {
		gap: 5px;
		width: 100%;
	}

	.Slider {
		position: relative;

		appearance: none;
		border: none;
		outline: none;

		background-color: rgba(black, 0.2);

		height: 7px;
		padding: 0;

		width: 100%;
		border-radius: 100px;

		&::-webkit-slider-thumb {
			appearance: none;

			background-color: white;
			width: 15px;
			height: 15px;
			border-radius: 100px;
			cursor: pointer;
		}

		&::before {
			content: "";
			position: absolute;

			z-index: -1;
			border-radius: 100px;

			width: var(--value);
			height: 100%;

			background: white;

			filter: brightness(1.2);
		}
	}

	.PlayButton {
		margin-top: 20px;

		cursor: pointer;

		svg {
			width: 40px;
			height: 40px;

			stroke-width: 1.5px;
		}
	}

	will-change: transform;
	transition: transform $ft;

	&:hover {
		transform: scale(1.02);
	}

	&:active {
		transform: scale(0.98);
	}
}
